[submodule "docs/notes"]
	path = docs/notes
	url = https://github.com/mrdrivingduck/notes.git
[submodule "docs/how-linux-works-notes"]
	path = docs/how-linux-works-notes
	url = https://github.com/mrdrivingduck/how-linux-works-notes.git
[submodule "docs/linux-kernel-development-notes"]
	path = docs/linux-kernel-development-notes
	url = https://github.com/mrdrivingduck/linux-kernel-development-notes.git
[submodule "docs/netty-in-action-notes"]
	path = docs/netty-in-action-notes
	url = https://github.com/mrdrivingduck/netty-in-action-notes.git
[submodule "docs/spring-microservices-notes"]
	path = docs/spring-microservices-notes
	url = https://github.com/mrdrivingduck/spring-microservices-notes.git
[submodule "docs/understanding-the-jvm-notes"]
	path = docs/understanding-the-jvm-notes
	url = https://github.com/mrdrivingduck/understanding-the-jvm-notes.git
[submodule "docs/linux-kernel-comments-notes"]
	path = docs/linux-kernel-comments-notes
	url = https://github.com/mrdrivingduck/linux-kernel-comments-notes.git
[submodule "docs/the-annotated-stl-sources-notes"]
	path = docs/the-annotated-stl-sources-notes
	url = https://github.com/mrdrivingduck/the-annotated-stl-sources-notes.git
[submodule "docs/uc-os-ii-code-notes"]
	path = docs/uc-os-ii-code-notes
	url = https://github.com/mrdrivingduck/uc-os-ii-code-notes.git
[submodule "docs/redis-implementation-notes"]
	path = docs/redis-implementation-notes
	url = https://github.com/mrdrivingduck/redis-implementation-notes.git
