:root {
  scroll-behavior: smooth;

  // brand colors
  --c-brand: #9567e4;
  --c-brand-light: #9567e4;

  --c-tip: #9567e4;
}
  
html.dark {
  // brand colors
  --c-brand: #9567e4;
  --c-brand-light: #9567e4;

  --c-tip: #9567e4;
}
