:root {
  scroll-behavior: smooth;
}

// === colors ===
:root {
  // accent colors
  --vp-c-accent: #9567e4;
  --vp-c-accent-bg: #9567e4;
  --vp-c-accent-hover: #9a70e2;
}

[data-theme='dark'] {
  // brand colors
  --vp-c-accent: #ffd04b;
  --vp-c-accent-bg: #ffd04b;
  --vp-c-accent-hover: #ecbb33;
}
