name: Build Only
on:
  push:
    branches:
      - dev
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout ⛓️
        uses: actions/checkout@v2.3.1
        with:
          persist-credentials: false

      - name: Install and Build ⚙️
        run: |
          npm install
          npm run build
        env:
          VUE_APP_GITHUB_API_TOKEN_PART_1: ${{ secrets.VUE_APP_GITHUB_API_TOKEN_PART_1 }}
          VUE_APP_GITHUB_API_TOKEN_PART_2: ${{ secrets.VUE_APP_GITHUB_API_TOKEN_PART_2 }}
